<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
<form method="POST" th:action="@{/logout}">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <input type="submit" value="Logout"/>
</form>

<h1>Design your taco!</h1>

<img th:src="@{/images/TacoCloud.png}"/>

<form method="POST" th:action="@{/design}" th:object="${taco}">
    <div class="grid">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

        <div class="ingredientu-group" id="wraps">
            <h3>Designate your wrap:</h3>
            <div th:each="ingredientu : ${wrap}">
                <input name="ingredients" type="checkbox" th:value="${ingredientu.id}"/>
                <span th:text="${ingredientu.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <div class="ingredientu-group" id="proteins">
            <h3>Pick your protein:</h3>
            <div th:each="ingredientu : ${protein}">
                <input name="ingredients" type="checkbox" th:value="${ingredientu.id}"/>
                <span th:text="${ingredientu.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <div class="ingredientu-group" id="cheeses">
            <h3>Choose your cheese:</h3>
            <div th:each="ingredientu : ${cheese}">
                <input name="ingredients" type="checkbox" th:value="${ingredientu.id}"/>
                <span th:text="${ingredientu.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <div class="ingredientu-group" id="veggies">
            <h3>Determine your veggies:</h3>
            <div th:each="ingredientu : ${veggies}">
                <input name="ingredients" type="checkbox" th:value="${ingredientu.id}"/>
                <span th:text="${ingredientu.name}">INGREDIENT</span><br/>
            </div>
        </div>

        <div class="ingredientu-group" id="sauces">
            <h3>Select your sauce:</h3>
            <div th:each="ingredientu : ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredientu.id}"/>
                <span th:text="${ingredientu.name}">INGREDIENT</span><br/>
            </div>
        </div>

    </div>

    <div>
        <h3>Name your taco creation:</h3>
        <input type="text" th:field="*{name}"/><br/>
        <button>Submit your taco</button>
    </div>

</form>
</body>
</html>